.header {
    width: 100%;
    height: 62px;
    line-height: 62px;
    padding: 0 25px;
    vertical-align: middle;
    box-shadow: 0px 0px 5px #ccc;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > .search-box {
    width: 470px;
    height: 30px;
    position: relative;
}

.search-box-icon {
    position: absolute;
    left: 18px;
    top: 0;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.search-box-clean {
    position: absolute;
    right: 18px;
    top: 0;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.header > .search-box > input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding-left: 60px;
    box-sizing: border-box;
    background: transparent;
    color: #888;
}