.product-list {
    padding: 0 25px;
    max-width: 1020px;
    margin: 0 auto;
}

.product-list > p {
    border-bottom: 3px solid #dfbe7f;
    padding-top: 32px;
    padding-bottom: 5px;
    margin: 0;
    color: #383839;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
}

.product-list > ul {
    padding: 0;
    margin: 0;
    margin-top: 30px;
    list-style: none;
    border: 1px solid #ccc;
}

.product-list > ul > li {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-bottom: 1px solid #ccc;
}

.product-list > ul > li:last-child {
    border-width: 0px;
}

.product-list > ul > li:hover {
    background-color: #f4f4f6;
}

.product-list > ul > li img {
    height: 80px;
}

.product-list > ul > li > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-list > ul > li > div > img {
    margin-right: 14px;
}

.product-list > ul > li > div > span {
    display: inline-block;
    padding: 0 10px;
}

.product-list > ul > li > div > span > p {
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: bold;
}

.product-list > ul > li > div > span > small {
    color: #777;
}

.product-list .price-tag > span {
    text-decoration: line-through;
    color: #777;
}