.search-page > h1 {
    height: 100px;
    line-height: 100px;
    background-color: #eeedf1;
    color: #433e66;
    margin: 0;
    padding: 0 25px;
    font-weight: 100;
}

.search-page > .search-pagination {
    padding-top: 30px;
    border-top: 1px solid #ccc;
    max-width: 1025px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-page > .search-pagination > select {
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
    background: transparent;
    padding: 0 10px;
}

.search-page .pagination {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-page .pagination li {
    display: inline-block;
    width: 50px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.search-page .pagination li > a {
    text-decoration: none;
    color: #888;
}

.search-page .pagination li.active {
    border: 1px solid #ccc;
}

.search-page .pagination li.disabled {
    display: none;
}